form {
    display    : inline;
    position   : relative;
    top        : 20px;
    font-family: "Arial";
}

label {
    font-size: 12px;
}

.form-field {
    display: inline;
}

.form-field>input {
    font-size    : 12px;
    border       : none;
    border-bottom: 1px solid black;
    width        : 80px;
}

.form-field::after {
    position        : absolute;
    bottom          : 22px;
    left            : 80px;
    padding         : 4px 0;
    content         : attr(data-hint);
    width           : 130px;
    font-size       : 6px;
    background-color: black;
    color           : white;
    text-align      : center;
}

.form-field::before {
    content     : "";
    position    : absolute;
    bottom      : 9px;
    left        : 90px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button {
    position        : absolute;
    left            : 80px;
    top             : 30px;
    border-radius   : 1rem;
    border-style    : none;
    font-size       : 7px;
    padding         : 1px 9px;
    background-color: rgb(233, 117, 54);
    color           : white;
}