form {
    position   : absolute;
    left       : 2em;
    top        : 8em;
    font-size  : 22px;
    font-family: "Helvetica";
}

.form-field {
    display: inline;
}

.form-field>input {
    position     : relative;
    font-size    : .7em;
    border       : none;
    border-bottom: .1em solid black;
}

.form-field::after {
    position        : absolute;
    bottom          : 3.5em;
    left            : 15em;
    padding         : .4em 0;
    content         : attr(data-hint);
    font-size       : .5em;
    width           : 160px;
    background-color: black;
    color           : white;
    text-align      : center;
}

.form-field::before {
    content     : "";
    position    : absolute;
    bottom      : 1.35em;
    left        : 8em;
    margin-left : -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button {
    position        : absolute;
    left            : 7em;
    top             : 2.5em;
    border-radius   : 1em;
    border-style    : none;
    font-size       : .8em;
    padding         : .3em .9em;
    background-color: rgb(233, 117, 54);
    color           : white;
}